<h1>Signup!</h1>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

<%= form_for :user, url: '/users' do |f| %>

  Adres e-mail: <%= f.text_field :email %>
  Hasło: <%= f.password_field :password %>
  Powtórz hasło: <%= f.password_field :password_confirmation %>
  <%= f.submit "Zarejestruj się" %>

<% end %>